hr(style="margin:50px 0;")
nav.navbar.navbar-default.navbar-fixed-bottom(role='navigation')
  .container-fluid
    div.footer-content
      span.small-text built on
      br
      a.logo(href="https://www.openshift.com/")
        img(src="/resources/images/openshift_logo.png")
      div.app-metadata= "Updated 17.09.2016"
