extends ./layout.jade

block title
  title Babylonone

block content
  .container-fluid
    .row
      .col-xs-12.col-sm-8
        .jumbotron
          h1= announcements[0].title + ' '
            small= announcements[0].publishDate
          img(src='resources/images/' + announcements[0].featureImageUri, alt=announcements[0].featureImageAltText )
          | !{ anouncements[0].content }
      .col-sm-4
        a.twitter-timeline(href="https://twitter.com/cybersettler" data-widget-id="388409474286759936") Tweets by @cybersettler
        script(src="resources/js/twitter_timeline.js")
